Host router
Hostname 192.168.0.1
User root
Port 22
KeepAlive yes
Compression yes


Host dev
Hostname 192.168.56.2
User fanatik
Port 22
KeepAlive yes
Compression yes

Host rpi
Hostname 192.168.0.104
User pi
Port 22
KeepAlive yes
Compression yes
