Compression yes
#vic sessions v jednom spojeni
ControlMaster auto
#socket pro controlmaster
ControlPath /tmp/ssh_%r@%h:%p
#doba od zavreni posledni session po kterou je socket otevreny
ControlPersist 86400
ServerAliveInterval 5
ServerAliveCountMax 12
#netunelovat na server privatni klic
ForwardAgent no
#security advice
UseRoaming no

Include ~/.ssh/plus4unet.config

#HOME ROUTER
  Host router
    Hostname 192.168.0.1 
    User root
    Port 22
    KeepAlive yes
    Compression yes
    #ProxyCommand ssh -q -W %h:%p vpsfree

#APU
  Host apu 
    Hostname 192.168.0.12
    User fanatik 
    Port 22
    KeepAlive yes
    Compression yes
    #ProxyCommand ssh -q -W %h:%p vpsfree

#WD-Storage
  Host wd
    Hostname 192.168.0.5
    User sshd
    Port 22
    KeepAlive yes
    Compression yes
    PasswordAuthentication yes
    ProxyCommand ssh -q -W %h:%p vpsfree

#MacBook-Pro - HOME
  Host macpro-home 
    Hostname 192.168.0.8
    User fanatik 
    Port 22
    KeepAlive yes
    Compression yes
    PasswordAuthentication yes
    ProxyCommand ssh -q -W %h:%p vpsfree

  Host vpsfree
    Hostname 37.205.14.56
    User fanatik
    Port 22
    KeepAlive yes
    Compression yes

Host workrpi 
    Hostname 172.27.1.9
    User fanatik 
    Port 22
    KeepAlive yes
    Compression yes
    PasswordAuthentication no
    ProxyCommand ssh -q -W %h:%p vpsfree

Host macair 
    Hostname 192.168.0.191
    User fanatik  
    Port 22
    KeepAlive yes
    Compression yes
    PasswordAuthentication no
    ProxyCommand ssh -q -W %h:%p vpsfree

Host sh.nas 
    Hostname nas.pdostal.sh.cvut.cz
    User fanatik  
    Port 22
    KeepAlive yes
    Compression yes
    PasswordAuthentication no 

Host pustik 
    Hostname 192.168.2.115 
    User pi  
    Port 22
    KeepAlive yes
    Compression yes
    PasswordAuthentication no 
    ProxyCommand ssh -q -W %h:%p vpsfree
