## OUTDOR SERVERS

# HOME ROUTER
Host home
Hostname home.jsindelar.cz
User root
Port 22
KeepAlive yes
Compression yes

#RPI VIA VPN
Host rpiv
Hostname rpi.vpn.jsindelar.cz
User pi
Port 22
KeepAlive yes
Compression yes

#ROUTER VIA VPN
Host routerv
Hostname router.vpn.jsindelar.cz
User root
Port 22
KeepAlive yes
Compression yes

#FANATIK-VPS
Host vps
Hostname jsindelar.cz
User fanatik
Port 22
KeepAlive yes
Compression yes

#PRIVAT SERVERS

#HOME ROUTER
Host router
Hostname 192.168.0.1
User root
Port 22
KeepAlive yes
Compression yes

#DEVELOPER SERVER - VIRTUALBOX
Host dev
Hostname  192.168.56.3
User fanatik
Port 22
KeepAlive yes
Compression yes

#DEVELOPER SERVER ROOT VIRTUALBOX
Host devr
Hostname  192.168.56.3
User root
Port 22
KeepAlive yes
Compression yes

#RPI
Host rpi
Hostname 192.168.0.104
User pi
Port 22
KeepAlive yes
Compression yes

#PT-CZ VIA VPN
Host ptczv
Hostname 10.10.10.15
User pi
Port 22
KeepAlive yes
Compression yes

#PT-CZ
Host ptcz
Hostname 10.0.0.4 
User pi
Port 22
KeepAlive yes
Compression yes
